.main {
    background: linear-gradient(rgba(250, 248, 248, 0.2), rgba(25, 167, 173, 0.2)),  no-repeat center;
    background-size: cover;
    height: 85vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

.button {
    display: block;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    text-decoration: none;
    font-weight: bold;
    background: chocolate;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
}

/* .petsNav {
    display: flex;
    justify-content: center;
} */

ul {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;

}

ul li:not(:last-child) {
    padding-right: 1rem;
}

h1 {
    text-align: center;
    margin: 0rem;
    padding: 2rem 0 1rem 0;
}

h4 {
    margin-bottom: 0;
}

.petInfo {
    padding-bottom: 1rem;
}