.li {
    /* float: left; */
    display: inline-block;
    text-decoration: none;
    align-self: center;  
    text-align: center;
    /* padding: 5px; */
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    margin-right: 5px;
    background-color: chocolate;
    /* width: 150px;
    height: 25px; */
    cursor: pointer;
    font: 1.4rem bold;
}

.a {
    text-decoration: none;
    color: azure;    
}

.li:hover {
    background: rgb(202, 150, 107);
    color: rgb(0, 0, 0);
    font-weight: bold;
}