header {
    display: inline-block;
    letter-spacing: 0.05rem;
    padding: 0.5rem 0.5rem;
    color: white;
    width: 98%;
    /* background: #234465; */
    /* flex-wrap: wrap;  */
  }
  
  ul {
    /* position: relative; */
    text-align: center;
    /* justify-content: center; */
    /* overflow-y: hidden; */
    margin: 0;
    padding: 0;
  }
  
