





/* 

.app {
  background: url(./img/pets-in-park-2.jpg) no-repeat center;
}


#container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;	
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

ul, ol {
	padding-bottom: 1.5em;
}

ul, ol {
	padding-left: 2em;
}

li {
	list-style-position: inside;
}

blockquote {
	width: 80%;
	margin: 0 auto;
	border-left: 4px solid #DDD;
	font-style: italic;	
	padding: 1rem 2rem;
	position: relative;
} */